body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h2 {
  font-weight: bold;
}

::placeholder {
  font-size: 10vh;
  line-height: 10vh;
  color: black;
  opacity: 0.3;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#input {
  margin: 30px;
  width: 12vw;
  text-align: center;
  font-size: 8vh;
  line-height: 8vh;
  padding: 3vh 1vh;
  font-family: "Poppins", sans-serif;
}

#convert-btn {
  padding: 10px 50px;
}